body {
    background-color: dimgrey;
    color: lavenderblush;
    font-family: bebas neue;
}
h2{
    text-align: center;
    font-size: 70px;
} 

.filme {

text-align: center;
}
.cartaz{
    width: 300px;
    height: 350px;
}
.filme-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 20px;
}
.containerbotao{
background-color: yellowgreen;
color: dimgrey;
font-size: 40px;
border-radius: 50px;



}
.botao{
text-align: center;

}
.informaçao{
font-size: 50px;
text-align: center;
padding: 30px;

}
.imagem{
width: 500px;
height: 250px;
}